{% extends 'Adminhome.html' %}

{% block content %}
  <h3>Dashboard</h3>
  <div class="container">
    <div class="row">
      <div class="card col-12 col-md-3 mt-1 p-4">
        <p>37</p>
        <h6>Total Registrations</h6>
      </div>
      <div class="card col-12 col-md-3 mt-1 p-4">
        <p>$23,370.63</p>
        <h6>Registration Amount</h6>
      </div>
      <div class="card col-12 col-md-3 mt-1 p-4">
        <p>37</p>
        <h6>Total Registrations</h6>
      </div>
      <div class="card col-12 col-md-3 mt-1 p-4">
        <p>37</p>
        <h6>Total Registrations</h6>
      </div>
    </div>
  </div>
{% endblock %}
